.mainButtonsContainer {
  width: 100vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
}

.mainButtonsWrapper {
  margin-top: 10px;
  height: 80px;
  width: 650px;

  display: flex;
  justify-content: space-evenly;
  align-items: start;

  overflow: hidden;
}

.buttonActive {
  background-color: var(--darkBlue-color) !important;
}

.mainButtonStyle {
  height: 50px;
  width: 140px;

  color: white;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--gray-color);
  transition: background-color 0.3s ease-out;

  border-radius: 40px;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.insideButtonWrapper {
  height: 45px;
  width: 135px;
  background-color: var(--grayLight-color);

  display: flex;
  justify-content: center;
  align-items: center;
  position: none;

  border-radius: 30px;

  z-index: 1;
}

.mainButtonStyle:hover .mouseDot {
  display: block;
}

.mouseDot {
  display: none;
  position: absolute;
  border-radius: 50%;

  background-color: var(--mainTheme-color);
  opacity: 15%;

  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 80%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 80%
  );

  width: 277px;
  height: 277px;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  transition: transform 0.4s, border 0.4s;
  pointer-events: none;
}

.mainButtonStyle:hover .mouseDot {
}
