:root {
  --gray-color: #666c78;
  --grayLight-color: #666c78d2;
  --mainTheme-color: #242832;
  --vanilla-color: #eed9c4;
  --darkBlue-color: #293146ec;
}

.mainSectionContainer {
  width: 100vw;
  height: 100vh;

  background-color: var(--gray-color);
}

.mainSectionWrapper {
  height: inherit;
  width: inherit;
}

.logoWrapper {
  height: 60%;

  background-color: var(--darkBlue-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  height: 150px;
  width: 350px;
}
